body {
    font-family: "Lucinda Grande", "Lucinda Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    font-size: 20px;
    color: rgb(241, 241, 241);
    padding: 10px;
}

.bottom-center-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 10px;
}

.blue {
    color: rgb(68, 180, 255);
}

.orange {
    color: rgb(255, 147, 46);
}

.success {
    color: rgb(38, 207, 38);
}
.fail {
    color: rgb(212, 32, 32);
}

.faded {
    opacity: 0.5;
}

.actual-name {
    font-size: 27px;
}

.card {
    background-color: rgba(0, 0, 0, 0.712);
    border-radius: 10px;
    padding: 15px;
    margin: 5px;
    min-width: 200px;
}
.card th {
    text-align: left;
}