body {
    font-family: "Helvetica", "Verdana", sans-serif;
    background: #2D334D;
    color: #C8CCD0;
}

h1 {
    margin: 4px;
}

p.center {
    text-align: center;
}

p.right {
    text-align: right;
}

.odd {
    background: #2D334D;
}

.even {
    background: #353C5A;
}