.top {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

#header-container {
    display: grid;
    grid-template-columns: auto 346px auto;
    grid-template-rows: auto;
    grid-template-areas:
            "blue . orange";
    font-size: 0;
}

.bottom {
    position: fixed;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
}

.bottom-right {
    position: fixed;
    top: 100%;
    left: 100%;
    transform: translate(-100%, -100%);
}

.team-name {
    font-size: 22px;
    font-weight: bold;
    font-family: "Helvetica", "Verdana", sans-serif;
    color: #e6e9ec;
    margin: 0;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
}

.win-indicator {
    margin: 0 1px 0 1px;
}

#ladder-div {
    margin-top: 35px;
    margin-left: 35px;
    display: inline-block;
    float: left;
}

#message {
    display: inline-block;
    font-size: 1.6em;
    font-weight: bold;
    font-family: "Consolas", "Courier New", monospace;
    width: 1000px;
    margin-left: 100px;
    margin-top: 100px;
    color: white;
    text-shadow: 0 0 12px rgb(0, 0, 0)
}

p.bot {
    border: solid 1px gray;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.51);
    padding: 4px;
    margin-bottom: 3px;
    margin-top: 8px;
    width: 200px;
    font-family: "Consolas", "Courier New", monospace;
    font-weight: bold;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: black;
    color: lightgray;
}

.date {
    font-size: 0.8em;
    font-weight: normal;
}

p.bot.round-robin.evaluating {
    background-color: #255c47;
}

p.bot.round-robin.evaluating.playing {
    background-color: #255c47;
}

p.bot.round-robin {
    background-color: #1c3d3e;
}

div.inactive-division {
    border: solid 1px rgba(85, 85, 85, 0.52);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.51);
    padding: 4px;
    margin-bottom: 3px;
    margin-top: 4px;
    width: 200px;
    font-family: "Consolas", "Courier New", monospace;
    font-weight: bold;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: rgba(89, 89, 89, 0.4);
    color: lightgray;
}

div.active-division {
    margin-bottom: 30px;
    margin-top: 20px;
}

.division-header {
    color: #ffffff;
    font-family: "Consolas", "Courier New", monospace;
    font-weight: bold;
    font-size: 1.5em;
    text-shadow: 0 0 6px rgb(0, 0, 0)
}

.rr_record {
    float:right;
}

.rr_win {
    color: #a4cc98;
}

.rr_loss {
    color: #c1846f;
}

#tipcard {
    width: 420px;
    box-sizing: border-box;
    background: #2D334D;
    color: #C8CCD0;
    position: absolute;
    bottom: 380px;
    padding: 15px;
    font-family: "Helvetica", "Verdana", sans-serif;
    font-size: 1.2em;
    right: -421px;
    transition: right .5s ease-in;
    user-select: none;
}

#tipcard[visible] {
    right: 0;
    transition-timing-function: ease-out;
}

#tip-title {
    font-weight: bold;
    margin-bottom: 5px;
}

img[src=""] {
    display: none;
}

#tip-logo {
    max-width: 100px;
    float: right;
    margin-left: 8px;
}
