body {
    height: 1080px;
    background-color: #2D334D;
}

#bg-field {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('images/fields/ChampionsField.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.3;
    z-index: -1;
}

#dark {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, #1A1E2DDD 0%, rgba(0,0,0,0) 90%) no-repeat;
}

#bot-logo-sheet {
    margin-left: auto;
    margin-right: auto;
    margin-top: 160px;
    height: 600px;
    width: 1400px;
    display: flex;
    justify-content: space-between;
}

#blue-bot-logos {
    width: 500px;
    text-align: right;
}

#orange-bot-logos {
    width: 500px;
}

.bot-herald:nth-child(2) {
    margin-left: 70px;
    margin-right: 70px;
}

.bot-herald {
    position: relative;
    margin-bottom: 70px;
}

.bot-herald img {
    height: 200px;
    max-width: 400px;
}

.bot-herald>h1 {
    color: white;
    font-family: "Helvetica", "Verdana", sans-serif;
    font-style: italic;
    position: absolute;
    bottom: -36px;
    padding-right: 8px;
    padding-left: 8px;
    margin-bottom: 0;
    z-index: 2;
    min-width: 500px;
}

#blue-bot-logos .bot-herald>h1 {
    right: 0;
    background: linear-gradient(50deg, #284DBA00 5%, #284DBAFF 10%, #3362E5FF 100%);

}

#orange-bot-logos .bot-herald>h1 {
    left: 0;
    background: linear-gradient(130deg, #D86F36FF 0%, #A75325FF 90%, #BC5F2D00 95%);
}

#versus-container>img {
    width: 200px;
    margin-top: 310px;
}
